# Hidden files and directories (except .gitignore)
.*
!.gitignore
!extensions/vscode/.vscode/
!extensions/vscode/.vscode/launch.json

# Text and markdown files (except README.md)
*.txt
*.md
!README.md
keys/
.env
*.pcap
target/
build/
node_modules/
dist/
*.vsix
!README.md
!docs/**/*.md
!CHANGELOG.md
